/* Lydia Schmidt 07/25/25*/

html {
  margin: 3rem 5rem;
  padding: 2rem;
  background: repeating-linear-gradient(
  to right,
  lightgreen,
  lightgreen 2rem,
  darkgreen 2rem,
  darkgreen 4rem
  );
  font-family: "Borel", cursive;
  min-width: 360px;
}

#calc-layout {
  color: mintcream;
  background-color: darkgreen;
  padding: 3rem;
  border: solid .5rem lightgreen;
  border-radius: 1rem;
  max-width: 25rem;
}

#p-layout{
  margin: 1rem 0;
  padding: 5rem;
  background-color: lightpink;
  border: solid 1rem mintcream;
  border-radius: 2rem;
  max-width: 25rem;
}

p {
  white-space: pre;
  padding: 2rem;
  border: black .5rem dotted;
  max-width: 25rem;
  color: darkgreen;
}

input {
  border: lightpink .25rem solid;
}

button {
  color: darkgreen;
  background-color: lightpink;
  width: 6rem;
  height: 2rem;
  border-radius: 5rem;
}


@media (min-width: 768px) {

  #p-layout {
    max-width: 50rem;
  }

}  

/*Media quary for desktop*/

@media (min-width: 1200px) {

  #p-layout{
    display: flex;
    justify-content: space-between;
    max-width: 80rem;
  }
